body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
.fexibale-container{
    display: flex;
    margin-bottom: 150px;
     
}
.width{
    width: 50%;
    padding: 5%;
   
}
.width img{
    width: 100%;
}
.width p{
    text-align: justify;
    padding-right: 60px;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow, blue);
    padding: 10px 40px;
    color:maroon;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dreme-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.width_shadow{
    width: 50%;
    padding: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px grey;
}
.width_shadow p{
    text-align: justify;
    padding-right: 60px;
}
.Experience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp-web-shadow1{
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow, blue);
    border-image-slice: 1;
}
#exp-web-shadow{
    border-left: 7px solid;
    border-image: linear-gradient(red, blue, rgb(0, 255, 128));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: brown;
}